.Container{
  height: 100%;
  right:10px;
  position:absolute;
  display:flex;
  flex-direction:row;
}

.LowerContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 15px;
  right: 300px;
  width: 100px;
  height: 220px;
  z-index: 400;
}

.UpperContent {
  position: absolute;
  display: flex;
  flex-direction:column;
  right: 300px;
  top:15px;
  width: 100px;
  height: 220px;
}

.ExitButton{
  width: 100%;
  height: 45%;
  background-image: url("../../media/back_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-size:100px;
}

.TradeButton {
  width: 100%;
  height: 45%;
  background-image: url("../../media/trade.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:120px;
}

.RollButton{
  width: 100%;
  height: 45%;
  background-image: url("../../media/dice.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:100px;
}
.EndTurnButton {
  width: 100%;
  height: 45%;
  background-image: url("../../media/endturn.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:80px;
}

.EndTurnButton:hover,
.TradeButton:hover {
  cursor: pointer;
}