.Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 30px;
  right: 280px;
  width: 100px;
  height: 200px;
  z-index: 400;
}

.TradeButton {
  width: 100%;
  height: 45%;
  background-image: url("../../media/trade.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:120px;
}

.EndTurnButton {
  width: 100%;
  height: 45%;
  background-image: url("../../media/dice.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:100px;
}

.EndTurnButton:hover,
.TradeButton:hover {
  cursor: pointer;
}