.Board {
  display: flex;
  flex-direction: column;
  height: 98vh;
  margin-top: 5px;
  overflow-y: hidden;
}

.Board .Row0 {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.Board .Row1 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.Board .Row2 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.Board .Row3 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.Board .Row4 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.Board .Row5 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.Board .Row6 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.DiceRoll {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 500px;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 900;
}

.Hidden {
  visibility: hidden;
}

.GameBuildOptions {
  position: relative;
  z-index: 1000;
}

.Test {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 25vw;
  top: 10vh;
  z-index: 10000;
}

.Test2 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 25vw;
  top: 30vh;
  z-index: 10000;
}

.Test3 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 25vw;
  top: 50vh;
  z-index: 10000;
}

.Test4 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 25vw;
  top: 70vh;
  z-index: 10000;
}

.Test4a {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 10vw;
  top: 70vh;
  z-index: 10000;
}

.Test4b {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 45vw;
  top: 70vh;
  z-index: 10000;
}

.Test5 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 25vw;
  top: 90vh;
  z-index: 10000;
}

.Test5a {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 15vw;
  top: 90vh;
  z-index: 10000;
}

.Test5b {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 45vw;
  top: 90vh;
  z-index: 10000;
}

.Test6 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 25vw;
  top: 110vh;
  z-index: 10000;
}