.Hex {
  margin-left: -53px;
}

.WaterHex {
  margin-left: -53px;
  position: relative;
  z-index: -1;
}

.WaterHex .EdgeTopLeft {
  width: 85px;
  height: 10px;
  background-color: navy;
  transform: skewY(-30deg);
}

.Hex .EdgeTopLeft {
  width: 85px;
  height: 10px;
  background-color: orange;
  transform: skewY(-30deg);
}

.WaterHex .EdgeTopRight {
  width: 85px;
  height: 10px;
  background-color: navy;
  margin-left: 85px;
  margin-top: -10px;
  transform: skewY(30deg);
}

.Hex .EdgeTopRight {
  width: 85px;
  height: 10px;
  background-color: orange;
  margin-left: 85px;
  margin-top: -10px;
  transform: skewY(30deg);
}

.WaterHex .EdgeMiddleLeft {

  width: 88px;
  height: 10px;
  background-color: navy;
  margin-top: 57px;
  transform: rotate(90deg);
  margin-left: -39px;
}

.Hex .EdgeMiddleLeft {
  width: 88px;
  height: 10px;
  background-color: orange;
  margin-top: 57px;
  transform: rotate(90deg);
  margin-left: -39px;
}

.WaterHex .HexInner {
  /* height: 310px;
  width: 160px; */
  height: 300px;
  width: 150px;
  margin-top: -155px;
  margin-left: 10px;
  background-color: bisque;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
}

.Hex .HexInner {
  height: 300px;
  width: 150px;
  margin-top: -155px;
  margin-left: 10px;
  background-color: bisque;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
}

.WaterHex .EdgeMiddleRight {
  width: 88px;
  height: 10px;
  margin-left: 121px;
  margin-top: -10px;
  background-color: navy;
  transform: rotate(90deg);
}


.Hex .EdgeMiddleRight {
  width: 88px;
  height: 10px;
  margin-left: 121px;
  margin-top: -10px;
  background-color: orange;
  transform: rotate(90deg);
}

.WaterHex .EdgeBottomLeft {
  width: 85px;
  height: 10px;
  margin-left: 0px;
  margin-top: -88px;
  background-color: navy;
  transform: skewY(30deg);
}

.Hex .EdgeBottomLeft {
  width: 85px;
  height: 10px;
  margin-left: 0px;
  margin-top: -88px;
  background-color: orange;
  transform: skewY(30deg);
}

.WaterHex .EdgeBottomRight {
  width: 85px;
  height: 10px;
  margin-left: 85px;
  margin-top: -10px;
  background-color: navy;
  transform: skewY(-30deg);
}

.Hex .EdgeBottomRight {
  width: 85px;
  height: 10px;
  margin-left: 85px;
  margin-top: -10px;
  background-color: orange;
  transform: skewY(-30deg);
}

.Hex .CornerTopMiddle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  margin-top: -171px;
  margin-left: 74px;
  z-index: 100;
}

.Hex .CornerTopRight {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 153px;
  z-index: 100;
}

.Hex .CornerTopLeft {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: -3px;
  z-index: 100;
}

.Hex .CornerBottomLeft {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: -4px;
  z-index: 100;
}

.Hex .CornerBottomRight {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: 152px;
  z-index: 100;
}

.Hex .CornerBottomMiddle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 75px;
  z-index: 100;
}

.HexCircle {
  display: flex;
  justify-content: center;
  visibility: visible;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-top: -130px;
  margin-left: 55px;
  background-color: beige;
  z-index: 105;
}

.HexCircle p {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: black;
}

.Hex .EdgeTopLeft:hover, .Hex .EdgeTopMiddle:hover, .Hex .EdgeTopRight:hover, .Hex .EdgeMiddleLeft:hover, .Hex .EdgeMiddleRight:hover, .Hex .EdgeBottomLeft:hover, .Hex .EdgeBottomMiddle:hover, .Hex .EdgeBottomRight:hover, .Hex .CornerTopMiddle:hover, .Hex .CornerTopRight:hover, .Hex .CornerTopLeft:hover, .Hex .CornerBottomLeft:hover, .Hex .CornerBottomRight:hover, .Hex .CornerBottomMiddle:hover, .HexCircle:hover {
  background-color: lightgray;
  cursor: pointer;
}

.WaterHex .HexIn1, .Hex .HexIn1 {
  overflow: hidden;
  background-color: red;
  width: 100%;
  height: 100%;
  /* transform: rotate(-120deg); */
  transform: rotate(-60deg);
}

.WaterHex .HexIn2 {
  background-color: navy;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-image: url('https://i.pinimg.com/originals/3d/78/bb/3d78bb1d8a8bbca62192f6a30bd20ba6.jpg'); */
  visibility: visible;
  width: 100%;
  height: 100%;
  /* transform: rotate(60deg); */
  transform: rotate(-60deg);
}

.Hex .HexIn2 {
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-image: url('https://i.pinimg.com/originals/3d/78/bb/3d78bb1d8a8bbca62192f6a30bd20ba6.jpg'); */
  visibility: visible;
  width: 100%;
  height: 100%;
  /* transform: rotate(60deg);*/
  transform: rotate(-60deg);
}

.WaterHex .Port {
  display: flex;
  justify-content: center;
  visibility: visible;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-top: -100px;
  margin-left: 55px;
  background-color: lightblue;
  z-index: 105;
}

.ForestTile {
  background-image: url('../../media/trees.png');
  background-size: 320px;
}

.BricksTile {
  background-image: url('../../media/bricks.png')
}

.WheatTile {
  background-image: url('../../media/wheat.png')
}

.RockTile {
  background-image: url('../../media/rocks.png')
}

.SheepTile {
  background-image: url('../../media/sheep.jpg')
}

