.Content {
  width: 50%;
  height: 19%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsalmon;
  cursor: pointer;
}

.ForestCard {
  background-image: url("../../../media/trees.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.RockCard {

}

.WheatCard{

}

.SheepCard{

}

.BrickCard{

}