.Content {
  width: 60%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsalmon;
  cursor: pointer;
}

.Knight {
  background-image: url('../../../media/knight.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;

}

.Monopoly {
  background-image: url('../../../media/monopoly.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px;
}

.VictoryPoint {
  background-image: url('../../../media/VP_dev.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 170px;
}

.RoadBuilder {
  background-image: url('../../../media/road_builders.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 170px;
}

.YearOfPlenty {
  background-image: url('../../../media/yearofplenty.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 250px;
}